
body{
    margin: 0px;
    padding: 0px;
}
header{
    display: flex;
    justify-content: space-between;
}
.logo{
    width: 54px;
    height: 50px;
    margin: 20px;
}
.menu{
    width: 54px;
    height: 50px;
    margin: 20px;
}
.menu-desplegado{
    display: none;
}
h3{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 24px;
}
.contenedor-uno{
    margin: 0px;
    padding: 0px;
}
.titulo-principal{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin: 20px;
}
.imagen-principal{
    width: 318px;
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.contenedor-dos{
    background-color: black;
    width: auto;
    height: 538px;
    
    top: 616px;
    margin: 0px;
    padding: 0px;
}
.titulo-dos{
    text-align: center;
    color: white;
    padding: 60px 0px 30px 0px;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}
.texto-dos{
    color:white;
    margin: 20px 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
.icono{
    width: 80px;
    height: 80px;
    display: flex;
    margin: 60px auto;
}
.contenedor-tres{
    width: auto;
    height: 1375px;
    margin: 0px;
    padding: 0px;
}
.titulo-tres{
    text-align: center;
    padding: 60px 0px 50px 0px;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
.caja{
    margin: 0px auto 90px auto;
    width: 262px;
    height: auto;
}
.flecha{
    margin: 0;
    width: 138px;
    height: 128px;
    display: flex;
    margin: 0px auto;
}
h2{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    text-align: center;
}
.texto-tres{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-align: center;
}
.contenedor-cuatro{
    background-color: black;
    width: auto;
    height: 660px;
    margin: 0px;
    padding: 0px;
}
.titulo-cuatro{
    text-align: center;
    color: white;
    padding: 60px 0px 40px 0px;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
.contacto{
    color: white;
    margin: 0px 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
.rectangulo-uno-y-dos{
    width: 335px; 
    height: 45px;
    border-radius: 4px;
    background-color: white;
    margin: 5px 20px 40px 20px;
    
}
.rectangulo-tres{
    width: 335px;
    height: 113px;
    border-radius: 4px;
    background-color: white;
    margin: 5px 20px 40px 20px;
}
.enviar{
    width: 335px; 
    height: 45px;
    border-radius: 4px;
    background: #FFD953;
    margin: 5px 20px 40px 20px;
    text-align: center;
}
.contenedor-cinco{
    width: auto;
    height: 493px;
    margin: 0px;
    padding: 0px;
    background-color: #DBDBDB;
}
.caja-logo-fecha{
    padding: 30px 0 70px 0;
    width: 100px;
    height: auto;
}
.fecha{
    margin: 0px 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
.redes{
    width: 28px; 
    height: 28px;
    vertical-align: bottom;
}
.flex{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    display: inline-block;
    height: 28px;
    margin: 0;
}
.cajita{
    padding: 20px;
    height: 28px;
}